body {
  font-family: "Arial", sans-serif;
}

.cv-article {
  max-width: 1024px;
  margin: auto;
}

.photo {
  border: 3px solid #2e3a23;
}

figcaption {
  width: 100px;
  text-align: center;
  font-size: 8px;
}
